{% extends 'Echo_app/base.html' %}
{% load static %} {% block title %}Crie sua Conta - Echo{% endblock %}


{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'Echo_app/css/registrar.css' %}">
<div class="auth-container">
    <div class="auth-header">
        <h1>Crie sua Conta</h1>
        <p>Junte-se à comunidade Echo</p>
    </div>

    <form method="post" novalidate>
        {% csrf_token %}

        {% for field in form %}
        <div class="form-group">
            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
            {{ field }} {% if field.errors %}
                <ul class="form-error-list">
                {% for error in field.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
                </ul>
            {% endif %}
        </div>
        {% endfor %}
        
        <button type="submit" class="btn-submit">Registrar</button>
    </form>

    <div class="login-link">
        <p>Já tem uma conta? <a href="{% url 'entrar' %}">Faça o login</a></p>
    </div>
</div>
{% endblock %}